body{
    background-image: url(2023-07-19_18.47.23.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: middle;
}

.mydive{
  text-align: center;
}
.div2{
  text-align: center;
}
.div3{
  text-align: center;
}
.div4{
  text-align: center;
}
.ff{
  text-align: center;
}
.ee{
  text-align: center;
}
.rr{
  text-align: center;
}
.div5{
  text-align: center;
}
.gg1{
  text-align: center;
}
.gg2{
  text-align: center;
}
